.dot.button,
a.dot.button
  transition all .2s cubic-bezier(.4,0,.2,1)
  text-decoration none
  border none
  border 0.125rem solid transparent
  min-width 3rem
  height 3rem
  max-width 24ch
  flex-grow 0
  flex-shrink 0
  border-radius 3rem
  display flex
  align-items center
  justify-content center
  background-color var(--dot-color-dark)
  color var(--dot-color-white)
  font-family var(--dot-font-family-default)
  font-size 1.25rem
  line-height 120%
  font-weight 400
  padding 1rem 2rem


.dot.button
  &:hover
    background-color var(--dot-color-purple)
    color var(--dot-color-dark)
    border-color currentColor

.dot.button
  &.primary,
  &.is-active
    background-color var(--dot-color-pink)
    color var(--dot-color-dark)

.dot.button
  &.primary,
  &.is-active
    &:hover
      background-color var(--dot-color-dark)
      color var(--dot-color-white)
      border-color currentColor



.dot.button
  & .dot.icon
    margin-left 1rem

.dot.button
  &:hover
    & .dot.icon
      & svg
        fill white
        stroke-width 2


.dot.button.border,
.dot.button.border.primary
  position relative
  color var(--dot-color-button-color, white)
  border 2px solid var(--dot-color-button-color, white)
  background-color var(--dot-color-button-color-background, --dot-color-dark)
  outline 6px solid var(--dot-color-button-color-background, --dot-color-dark)
  &.white
  background-color var(-dot-color-white)
  &:hover
    border 2px solid var(--dot-color-button-color, black)
    color var(--dot-color-button-color, black)
    background-color var(--dot-color-button-color-background, white)
    outline 6px solid var(--dot-color-button-color-background, white)
  & svg
    pointer-events none
    position absolute
    left 30px
    top -7px
    height 12px
    width 12px
    &:nth-of-type(2)
      left 60%
      top 39px
    &:nth-of-type(3)
      left calc(100% - 37px)
      top -7px
    &:nth-of-type(4)
      left 30px
      top 39px
    &:nth-of-type(5)
      left calc(100% - 37px)
      top 39px

.dot.button.border.cfp
  --dot-color-button-color: #000
  --dot-color-button-color-background: #cfceff
  position relative
  color var(--dot-color-button-color)
  border 2px solid currentColor
  background-color var(--dot-color-button-color-background)
  outline 6px solid var(--dot-color-button-color-background)
  &:hover
    --dot-color-button-color: #fff
    --dot-color-button-color-background: #000
  & svg
    pointer-events none
    position absolute
    left 30px
    top -7px
    height 12px
    width 12px
    &:nth-of-type(2)
      left 60%
      top 39px
    &:nth-of-type(3)
      left calc(100% - 37px)
      top -7px
    &:nth-of-type(4)
      left 30px
      top 39px
    &:nth-of-type(5)
      left calc(100% - 37px)
      top 39px
.dot.button.border.cfp.white
  --dot-color-button-color-background: #fefbe6
  &:hover
    --dot-color-button-color: #fff
    --dot-color-button-color-background: #000
