
.dot.emissions
  text-decoration none
  color var(--dot-color-whiteShoulders)
  display flex
  grid-gap 0.5rem
  align-items center


.dot.emissions
  &::after
    content none


.dot.emissions
  & svg
    height 2rem
    width 2rem
    pointer-events none
