.dot.header
  position relative
  @media screen and (min-width: 1024px)
    padding-bottom 5rem


.dot.header
  & .dot.logo
    margin-top auto
    display block
    flex-grow 1
    flex-shrink 0
    & svg
      max-width 8rem
      @media screen and (min-width: 640px)
        max-width 12rem
      @media screen and (min-width: 1024px)
        max-width 12rem
      @media screen and (min-width: 1440px)
        max-width 16rem



.dot.header
  & .dot.container
    height 8rem
    position relative
    padding-bottom 2rem
    display flex
    @media screen and (min-width: 640px)
      height 16rem

.dot.header
  & .dot.cfp
    top 2rem
    height auto
    padding 0 0.5rem
    width auto
    font-weight normal
    position absolute
    right 0
    @media screen and (min-width: 640px)
      top 4rem
      padding 1.5rem 2rem
      font-weight 600
      height 3rem
