.dot.header
  position relative
  

.dot.header
  & .dot.logo
    margin-top auto
    display block
    flex-grow 1
    flex-shrink 0
    & svg
      max-width 8rem
      @media screen and (min-width: 640px)
        max-width 12rem
      @media screen and (min-width: 1024px)
        max-width 12rem
      @media screen and (min-width: 1440px)
        max-width 16rem
      


.dot.header    
  & .dot.container
    height 8rem
    position relative
    padding-bottom 2rem
    display flex
    @media screen and (min-width: 640px)
      height 16rem