.dot.hero
  position relative
  display grid
  grid-template-areas "hero-image"\
                      "hero-title "\
                      "hero-date"\
                      "hero-location"\
                      "hero-secondTitle"\
                      "hero-secondDescription"\ 
                      "hero-actions"
  @media screen and (min-width: 1024px)
    grid-template-areas "hero-title hero-image"\
                        "hero-date hero-image"\
                        "hero-location hero-image"\
                        "hero-secondTitle hero-image"\
                        "hero-secondDescription hero-image"\
                        "hero-actions ."


.dot.hero
  & .dot.image
    grid-area hero-image
    object-fit contain
    max-height 25vh
    max-width 100%
    margin-bottom 1rem
    @media screen and (min-width: 640px)
      max-height 5vh
    @media screen and (max-width: 640px)
      max-height 5vh
      grid-area hero-image

    // @media screen and (min-width: 640px)

.dot.hero
  & h1.dot
    grid-area hero-title
    margin-bottom 1rem
    max-width 600px
    font-size 40px
    text-align left
    margin-top auto
    @media screen and (min-width: 640px)
      font-size 2rem
    @media screen and (min-width: 1024px)
      text-align left
      margin-right auto
      font-size 2.75rem
    @media screen and (min-width: 1440px)
      font-size 58px

.dot.hero
  & p.dot.lead
    //grid-area hero-lead
    max-width 600px
    text-align left

.dot.hero
  & .dot.actions
    grid-area hero-actions
    display flex
    align-items flex-start
    justify-content flex-start

.location
  grid-area hero-location
  display flex
  align-items flex-start
  justify-content flex-start
  color var(--dot-color-purple)
  margin-bottom 3rem
  font-size 1.25rem

h2.secondTitle
  grid-area hero-secondTitle
  display flex
  align-items flex start
  color var(--dot-color-whiteShoulders)
  //padding-top 30px
  //padding-bottom 1rem
  margin-bottom 0
  font-size 16px
  font-weight 500
  max-width 30ch
  @media screen and (min-width: 640px)
      font-size 1.25rem
  @media screen and (min-width: 1024px)
    text-align left
    margin-right auto
    font-size 1.5rem
    padding-bottom 1rem
  @media screen and (min-width: 1440px)
    font-size 2.5rem
  

p.secondDescription
  grid-area hero-secondDescription
  display flex
  align-items flex start
  font-size 16px
  color var(--dot-color-purple)
  @media screen and (min-width: 640px)
      font-size 1.25rem
  @media screen and (min-width: 1024px)
    text-align left
    margin-right auto
    font-size 1.5rem
  @media screen and (min-width: 1440px)
    font-size 1.5rem

p.date
  grid-area hero-date
  display flex
  align-items flex-start
  justify-content flex-start
  margin-bottom 0
  color var(--dot-color-purple)
  font-size 1.25rem





