
.dot.container
  width calc(100% - 5rem)
  margin 0 2.5rem


@media screen and (min-width: 1024px)
  .dot.container
    width 904px
    margin 0 auto

@media screen and (min-width: 1200px)
  .dot.container
    width 1024px
    margin 0 auto

@media screen and (min-width: 1440px)
  .dot.container
    width 1200px
    margin 0 auto

@media screen and (min-width: 2560px)
  .dot.container
    width 2000px
    margin 0 auto


