
.dot.container
  width calc(100% - 9rem)
  margin 0 4.5rem


@media screen and (min-width: 640px)
  .dot.container
    width calc(100% - 18rem)
    margin 0 9rem


@media screen and (min-width: 1440px)
  .dot.container
    width 1200px
    margin 0 auto

@media screen and (min-width: 2560px)
  .dot.container
    width 2000px
    margin 0 auto


