*.dot,
*.dot::after,
*.dot::before
  margin 0
  padding 0
  box-sizing border-box
  font-family var(--dot-font-family-default)
  -webkit-font-smoothing antialised




#app
  height 100%
  display flex
  flex-direction column
  position relative
  z-index 1


.dot
  & *
    &:focus
      box-shadow inset 0 0 0 0.0625rem var(--ki-color-text-default)
      outline var(--ki-color-magenta) solid 0.1875rem
      outline-offset 0.125rem


.dot
  & *
    &:focus:not(:focus-visible)
      outline none


.dot
  & *
    &:focus-visible
      box-shadow inset 0 0 0 0.0625rem var(--ki-color-text-default)
      outline var(--ki-color-magenta) solid 0.1875rem
      outline-offset 0.125rem

