@import './variables.styl'
@import './fonts.styl'
@import './a11y.styl'
@import './globals.styl'
@import './tags.styl'


.dot.dotter
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  pointer-events none
  color var(--dot-color-fortressGrey)


.dot.dotter
  & text
    font-family var(--dot-font-family-default)
    font-size 8px
    @media screen and (min-width: 640px)
      font-size 8px
    @media screen and (min-width: 1024px)
      font-size 10px
    @media screen and (min-width: 1440px)
      font-size 12px


.dot.text-box
  padding 1rem 1.5rem
  @media screen and (min-width: 640px)
    padding 3rem 2rem
  @media screen and (min-width: 1024px)
    padding 4rem 3rem
  @media screen and (min-width: 1440px)
    padding 5rem 4rem


.dot.text-box
  &.green
    background-color var(--dot-color-hyperGreen)
    color var(--dot-color-black)

.dot.text-box
  &.white
    background-color var(--dot-color-whiteShoulders)
    color var(--dot-color-black)

.dot.text-box
  &.apple
    background-blend-mode multiply
    background-repeat no-repeat
    background-position right center
    background-size 30%
    background-image url(../images/illustrations/apple.png)


.dot.text-box
  & .dot.title
    font-weight bold

.dot.text-box
  & .dot.description
    font-size 1.125rem
    line-height 130%
    margin-bottom 1rem
    font-weight normal
    @media screen and (min-width: 640px)
      font-size 1.5rem
      margin-bottom 2rem
    @media screen and (min-width: 1024px)
      font-size 1.75rem
      margin-bottom 3rem
    @media screen and (min-width: 1440px)
      font-size 2.125rem
      margin-bottom 4rem

.dot.layout-text
  grid-gap 0
  display grid
  @media screen and (min-width: 1024px)
    grid-gap 3rem


.dot.layout-text.three-columns
  grid-template-columns 1fr
  @media screen and (min-width: 1024px)
    grid-template-columns 1fr 1fr 1fr

.dot.layout-text
  & p.dot
    font-size 1.125rem
    line-height 1.5rem

.dot.speaker-wall
  display flex
  flex-wrap wrap
  justify-content space-around
  grid-gap 5rem

.dot.speaker
  border-radius 50%
  overflow hidden
  background-position center center
  background-size cover
  background-repeat no-repeat
  filter grayscale(1)
  flex-shrink 0
  flex-grow 0
  height 200px
  width 200px
  @media screen and (min-width: 1024px)
    height 296px
  width 296px
  @media screen and (min-width: 1200px)
    height 350px
    width 350px
  @media screen and (min-width: 1440px)
    height 415px
    width 415px

.dot.speaker-wall-title
  max-width 23ch
  margin-bottom 3rem
  font-size 2rem
  text-align left
  font-family var(--dot-font-family-default)
  font-style normal
  font-weight 800
  line-height 130%
  text-transform uppercase
  @media screen and (min-width: 640px)
    margin-bottom 5rem
    font-size 2rem
  @media screen and (min-width: 1024px)
    text-align right
    margin-bottom 7rem
    font-size 2.5rem
  @media screen and (min-width: 1440px)
    margin-bottom 10rem
    font-size 3rem


