html
  height 100%
  font-size 100%
  -webkit-text-size-adjust 100%
  color var(--dot-color-text-default)
  background-color var(--dot-color-background-default)


body
  font-weight 400
  line-height 1.5rem
  font-size 1rem
  height 100%
  font-style normal


main.dot
  flex-grow 1
  flex-shrink 0
  position relative


h1.dot
  font-size 2.75rem
  line-height 120%
  margin-bottom 2rem
  font-weight normal
  text-align right
  max-width 700px
  width 100%


h2.dot
  font-size 2.5rem
  line-height 120%
  margin-bottom 1.5rem


h3.dot
  font-size 2rem
  line-height 120%
  margin-bottom 1rem


h4.dot
  font-size 1.5rem
  line-height 120%
  margin-bottom 1rem


h5.dot
  font-size 1.125rem
  line-height 120%
  font-weight 600
  margin-bottom 1rem


h6.dot
  font-size 1rem
  line-height 120%
  text-transform uppercase
  margin-bottom 1rem


dl.dot
  margin-bottom 1rem
  & dt.dot
    font-weight 600


p.dot
  font-size 1rem
  line-height 140%
  margin-bottom 2rem

p.dot.lead
  font-size 1.5rem
  line-height 120%
  font-weight normal
  text-align right


button,
input,
optgroup,
select,
textarea
  font-family inherit
  font-size 100%
  line-height 1.15
  margin 0


button,
input
  overflow visible


button,
select
  text-transform none


button,
[type="button"],
[type="reset"],
[type="submit"]
  -webkit-appearance button


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
  border-style none
  padding 0


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring
  outline 0.0625rem dotted ButtonText


ul, ol
  &.dot
    list-style none
    margin-bottom 4rem

