:root
  --dot-font-family-default ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif
  --dot-color-text-default var(--dot-color-whiteShoulders)
  --dot-color-background-default var(--dot-color-dark)
  --dot-color-logo-default var(--dot-color-whiteShoulders)
  --dot-color-whiteShoulders #FFEBDD
  --dot-color-black #000
  --dot-color-dark #0A0938
  --dot-color-white #FEFBE6
  --dot-color-hyperGreen #CFCEFF
  --dot-color-redPegasus #dc0000
  --dot-color-cigaretteGlow #ea5400
  --dot-color-blueNebula #118dff

  --dot-color-fortressGrey #b8b8b8

  --dot-color-box-background var(--dot-color-whiteShoulders)
