:root
  --dot-font-family-default Radial, Helvetica, sans-serif
  --dot-color-text-default var(--dot-color-whiteShoulders)
  --dot-color-background-default var(--dot-color-black)
  --dot-color-logo-default var(--dot-color-whiteShoulders)
  --dot-color-whiteShoulders #f1f0ed
  --dot-color-black #000
  --dot-color-white #fff
  --dot-color-hyperGreen #52ff00
  --dot-color-redPegasus #dc0000
  --dot-color-cigaretteGlow #ea5400
  --dot-color-blueNebula #118dff

  --dot-color-fortressGrey #b8b8b8

  --dot-color-box-background var(--dot-color-whiteShoulders)
