h2.practicalities-title
  color var(--dot-color-white)
  font-weight 500

p.practicalities-leading-paragraph
  font-size 24px
  margin-bottom 4rem
  line-height 130%
  color var(--dot-color-purple)

h2.practicalities-faq-title
  margin-top 4rem

.container .dot-practicalities-container
  display block
  //margin 0 19.5px
  position relative
  z-index 6
  border-radius 32px
  background-color var(--dot-color-purple)
  padding 47px 15px 35px 16px
  margin-top 4rem

h2.practicalities-title
    color var(--dot-color-black)
    font-family var(--dot-font-family-default)
    font-size 32px
    font-style normal
    font-weight 500
    line-height 130%  /* 62.4px */
    margin-bottom 2rem
    max-width 22ch

p.practicalities-text
    color #0B0B26
    font-family var(--dot-font-family-default)
    font-size 19px
    font-style normal
    font-weight 400
    line-height 150% /* 44.2px */
    margin-bottom 1.5rem

ul.practicalities-covered-by-cost
    color black
    margin-top 0

a
    color var(--dot-color-purple)
