.dot.footer
  flex-grow 1
  position relative
  padding-bottom 4rem
  & .dot.container
    height 100%
    position relative
    color var(--dot-color-black)
    background-color var(--dot-color-whiteShoulders)
    padding 5rem 10rem


.dot.footer
  & .dot.logo
    dispay block
    & svg
      height 3rem