section.dot.section.we-need-you
  position relative
  z-index 6
  border-radius 32px
  background-color var(--dot-color-purple)
  padding-top 4rem !important
  padding-bottom 6rem
/*  & .dot.container
    @media screen and (min-width: 640px)*/


  & .dot.content
    grid-area content
    display flex
    flex-direction column
    justify-content flex-start
    align-items flex-start

  & h2.dot
    color #000
    font-family var(--dot-font-family-default)
    font-size 42px
    font-style normal
    font-weight 500
    line-height 130%  /* 62.4px */
    margin-bottom 4rem
    max-width 22ch

  & p.dot
    color #000 !important
    font-family var(--dot-font-family-default)
    font-size 34px
    font-style normal
    font-weight 400
    line-height 130% /* 44.2px */
    margin-bottom 4rem
