.dot.section
  & .dot.container
    p.dot.about
      color var(--dot-color-white)
      font-family var(--dot-font-family-default)
      font-style normal
      font-weight 400
      line-height 130%

h2.about-title
  color var(--dot-color-white)
  margin-top 4rem

p.about-leading-paragraph
  font-size 24px
  margin-bottom 4rem
  line-height 130%

h2.about-faq-title
  margin-top 4rem
