.dot.section
  & .dot.container
    p.dot.about
      color var(--dot-color-white)
      font-family var(--dot-font-family-default)
      font-style normal
      font-weight 400
      line-height 130%

h2.about-title
  color var(--dot-color-white)
  margin-top 4rem
  font-weight 500

p.about-leading-paragraph
  font-size 24px
  margin-bottom 4rem
  line-height 130%
  color var(--dot-color-purple)

h2.about-faq-title
  margin-top 4rem

.dot-history-container
  display block
  //margin 0 19.5px
  position relative
  z-index 6
  border-radius 32px
  background-color var(--dot-color-white)
  padding 47px 15px 35px 16px

.dot-history-container .dot.button.border.cfp.history-button
  margin-top 24px


/*  & .dot.container
    @media screen and (min-width: 640px)*/


h2.history-title
    color var(--dot-color-black)
    font-family var(--dot-font-family-default)
    font-size 32px
    font-style normal
    font-weight 500
    line-height 130%  /* 62.4px */
    margin-bottom 2rem
    max-width 22ch

p.history-text
    color #0B0B26
    font-family var(--dot-font-family-default)
    font-size 19px
    font-style normal
    font-weight 400
    line-height 150% /* 44.2px */
    margin-bottom 1.5rem