section.dot.section.details
  position relative
  background-color var(--dot-color-hyperGreen)
  padding-top 8rem !important
  padding-bottom 12rem
  color var(--dot-color-black)

  & .dot.container
    display flex
    flex-direction column

  & h2.dot
    color #000
    font-family Radial
    font-size 90px
    font-style normal
    font-weight 400
    line-height 120% /* 108px */
    margin-bottom 10rem
    &:last-of-type
      margin-bottom 0

  & .dot.pretitle
    color #000
    font-family Radial
    font-size 48px
    font-style normal
    font-weight 400
    line-height 130% /* 62.4px */
    display block

    &.first
      margin-left auto
      text-align right

    &.second
      margin-left 30%
