section.dot.section.details
  position relative
  margin-top -30px
  background-color var(--dot-color-white)
  padding-top 8rem !important
  padding-bottom 12rem
  color var(--dot-color-black)

  & .dot.container
    display flex
    flex-direction column

h2.details-title
    color #000
    font-family var(--dot-font-family-default)
    font-size 1.875rem
    font-style normal
    font-weight 500
    line-height 120% /* 108px */
    margin-bottom 2rem

p.details-text
    color #000
    var(--dot-font-family-default)
    font-size 1.25rem
    font-style normal
    font-weight 400
    line-height 130% /* 62.4px */
    display block
    margin-bottom 4rem

    &.first
      margin-left auto
      text-align center
