section.dot.section.details
  position relative
  margin-top -30px
  background-color var(--dot-color-white)
  padding-top 8rem !important
  padding-bottom 12rem
  color var(--dot-color-black)

  & .dot.container
    display flex
    flex-direction column

  & h2.dot
    color #000
    font-family var(--dot-font-family-default)
    font-size 42px
    font-style normal
    font-weight 500
    line-height 120% /* 108px */
    margin-bottom 4rem

  & p 


  & .dot.pretitle
    color #000
    var(--dot-font-family-default)
    font-size 26px
    font-style normal
    font-weight 400
    line-height 130% /* 62.4px */
    display block

    &.first
      margin-left auto
      text-align center
