.dot.section
  padding 1.25rem
  padding-top 2rem
  padding-bottom 4.5rem
  width 100%
  flex-shrink 0
  @media screen and (min-width: 1440px)
    padding-top 4rem
    padding-bottom 9rem

.dot.section + .dot.section
  padding-top 0
