.dot.hero
  position relative
  background-repeat no-repeat
  background-image url(/images/8dddb761187601b14ad9d911f36d9fba.png)
  background-size 30rem 30rem
  background-position left 0 center
  min-height 40rem
  display flex
  flex-direction column

.dot.hero
  & h1.dot
    margin-top 14rem
    margin-bottom 3.5rem
    margin-left auto
    max-width 600px

.dot.hero
  & p.dot.lead
    margin-bottom 0
    margin-left auto
    max-width 600px